body {
  height: 100vh;
  background: linear-gradient(to right, green 65%, white 35%);
}

html, body {
    margin: 0;
    height: 100%;
}

.page {
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
}

.login-form {
    width: 250px;
}